{% extends 'portal/base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block content %}

<div class="container">
        <div class="catalog">
            <h3>КАТАЛОГ</h3>
            <ul>
  <p><b>Цветы:</b></p>
  <li><a href="{% url 'category' category_name='roses' %}">Розы</a></li>
  <li><a href="{% url 'category' category_name='tulips' %}">Тюльпаны</a></li>
  <li><a href="{% url 'category' category_name='peonies' %}">Пионы</a></li>
  <li><a href="{% url 'category' category_name='lilies' %}">Лилии</a></li>
  <li><a href="{% url 'category' category_name='daisies' %}">Ромашки</a></li>
  <li><a href="{% url 'category' category_name='baskets' %}">Корзины с цветами</a></li>
</ul>
<ul>
  <p><b>Букеты:</b></p>
  <li><a href="{% url 'category' category_name='classic' %}">Классические</a></li>
  <li><a href="{% url 'category' category_name='original' %}">Оригинальные</a></li>
  <li><a href="{% url 'category' category_name='edible' %}">Съедобные</a></li>
  <li><a href="{% url 'category' category_name='wedding' %}">Свадебные</a></li>
</ul>
            <div class="sale">
  {% for promo in promotions %}
    <a href="{% url 'sale' %}">
      <img src="{{ promo.image.url }}" alt="{{ promo.title }}">
    </a>
  {% endfor %}
</div>
          </div>

        <div class="main">
            <a href="{% url 'main' %}"><button class="back" >← главная</button></a>
            <a href="{% url 'products' %}"><button class="back">← товары</button></a>
            <h2>СПАСИБО, ВАШ ЗАКАЗ ПРИНЯТ!</h2>
            <div class="block2">
                <p>Статус заказа: Ожидание подтверждения.</p><br>
                <p>Вы получите уведомление по электронной почте c
                 с ценой доставки и подтверждением заказа.</p>
                 <p>Также вы сможете отменить заказ или поменять адрес доставки.</p>
                <a href="{% url 'user_profile' %}#history"><button class="portfolio-button">История заказов</button></a>
            </div>

            <div class="cta" id="cta">
    <h2 id="ctaform">СВЯЗАТЬСЯ С НАМИ</h2>
    {% if sent %}
        <p style="color: green;">Ваше сообщение отправлено!</p>
    {% endif %}
    <form method="POST" action="">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Отправить</button>
    </form>
            </div>

        </div>
    </div>

{% endblock %}